<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Facebook TestSuite">
	<test name="Facebook Test">
		<parameter name="username" value="trimurti"/>
		<parameter name="password" value="test"/>
		<classes>
			<class name="automationTesting.DataProviderTestNG"/>
		</classes>
		
	</test>
</suite>
